/* 장바구니 css */
.null_cart_btn{
    width: 50%;
    height: 35px;
    line-height: 20px;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 13px;
    font-weight: bold;
    color: #f1ebd6;
    background-color: #3a3125;
}
div.null_cart{
	width: 100%; 
    text-align: center;
    padding-top: 110px;
}
i.i_price{
	float: right;
}
input.modal_input{
	text-align: center;
    border: 0;
    font-weight: bold;
    font-size: 13pt;
}
button.plus_button, button.minus_button{
	color: #f1ebd6;
    background-color: #3a3125;
    border: 0;
    border-radius: 500px;
   	width: 25px;
    height: 25px;
}
button.modal_button{
	width: 35%;
    padding: 5px 5px 5px 5px;
    border: 0;
    font-size: 14px;
    color: #f1ebd6;
    background-color: #3a3125;
}
button.cart_sm_button{
	border: 0;
    border-radius: 3px;
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
    font-size: 12px;
    color: #f1e3c4;
    background-color: #5d4c35;
}
button.cart_button{
	float: left;
	border: 0;
    border-radius: 3px;
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
    font-size: 12px;
    color: #f1e3c4;
    background-color: #5d4c35;
}
table.table{
	width: 100%;
	text-align: center;
}

table.table th{
	text-align: center;
}
table.table td{
	padding-top: 20px;
}

/* 주문완료 css */
div.complete_msg{
	text-align: center;
}

/* 총 주문액 css */
div.totalPrice{
	float: right;
	margin-right: 10px;
}
input.center{
	text-align: center;
}
div.center_div{
	text-align: center;
}
img.icon{
	width: 50px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 10;
}
.menu_div{
	width: 33.3%;
	display: inline-block;
	float: left;
}

.menu_div_contents{
	padding: 20px;
}
.qna_body_title_div{
	height: 40px;
    background-color: #685845;
    margin-top: -20px;
    color: white;
    
}
.qna_title_text{
	line-height: 38px;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 25px 0 40px;
}
.hyebody{
	margin-left: -10px;
	margin-right: -10px;
}
/* 객실 안내 페이지 css */
.border_twin,
.border_double{
	border: 1px solid #0000001f;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.InRoomText,
.InHotelText,
.HotelInfoText,
.FloorPlanText{
	padding-bottom: 40px;
    font-size: 10pt;
    color: #808080;
    line-height: 23px;
}
.room_detail_subject{
	color: #353333;
}
.room_detail{
	line-height: 100%;
    display: block;
    padding: 12px 15px;
    background: #f1ebd6;
    color: #66594c;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -.025em;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
    border-top: 1px solid #cbbba9;
	border-bottom: 1px solid #cbbba999;
}
.room_center_div{
	text-align: center;
	width: 100%;

}
.room_btn1{
	width: 47%;
	border: 0;
	background: #8f8272;
    min-width: 110px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
    text-align: center;
}
.room_btn2{
	width: 47%;
	border: 0;
	background: #66594c;
    min-width: 110px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 700;
    color: #f1ebd6;
    vertical-align: middle;
    text-align: center;
}
.room_st{
	padding: 10px 10px 5px 10px;
    color: #666;
    font-size: 14px;
    line-height: 160%;
    margin-top: 5px;
}
.room_span{
	color: #836644;
    margin-right: 40px;
    line-height: 23px;
    margin-left: 5px;
}
.room_span_1{
	color: #836644;
    margin-right: 30px;
    line-height: 23px;
    margin-left: 5px;
}
.room_span_2{
	color: #836644;
    margin-right: 23px;
    line-height: 23px;
    margin-left: 5px;
}
.room_div{
	font-size: 10pt;
	color: #808080;
}
	
/* 지도 감싸는 div css */
/* #map_ma{
	width:100%;
	height:300px;
	clear:both;
	border:1px solid #8a6d3b8f;
	
} */
/* 호텔 소개 페이지 css */
.groupbtns{
    width: 100%;
    margin-left: 2%;
}
.subject_bar{
    color: #f1ebd6;
    height: 3px;
    display: flex;
    width: 12%;
    background: #f1ebd6;
    margin-bottom: -5px;
    margin-top: 5px;
    margin-left: 40px;
}
.subject_a{
	color: #f1ebd6;
	text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}
.subject_a:hover{
	color: #f1ebd6;
	text-align: center;
    text-decoration: none;
}
.subject_a:visited{
	color: #f1ebd6;
	text-align: center;
    text-decoration: none;
}
.admin_subject_div{
	text-align: center;
	line-height: 100%;
    display: block;
    padding: 12px 12px;
    background: #685845;
    color: #f1ebd6;
    font-size: 17px;
    margin-top: -20px;
    margin-bottom: 20px;
   /*  margin-right: -10px; */
   /*  margin-left: -10px; */
}
.hr_bar{
	background-color: #8a6d3b5c;
	height: 1px;
	margin-bottom: 10px;
	margin-top: -3px;
}
.admin_title_div_list{
	line-height: 100%;
    display: block;
    padding: 12px 15px;
    background: #f1ebd6;
    color: #5f3a0e;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.025em;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
    border-top: 1px solid #cbbba9;
    border-bottom: 1px solid #cbbba9;
}
.admin_title_div_list_center{
	line-height: 100%;
    display: block;
    padding: 12px 15px;
    background: #f1ebd6;
    color: #5f3a0e;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.025em;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: -10px;
    margin-left: -10px;
    border-top: 1px solid #cbbba9;
    border-bottom: 1px solid #cbbba9;
    text-align: center;	
}
.list_left_div{
	margin-top: 10px;
	text-align: left;
    width: 100%;
    letter-spacing: 0.05em;
    color: #666;
}

/* 공통 css */

/* 이미지 100% 클래스 */
.imgallwidth{
	width: 100%
}
.admin_title_div{
    line-height: 100%;
    display: block;
    padding: 12px 15px;
    background: #f1ebd6;
    color: #5f3a0e;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.025em;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: -10px;
}
.admin_title_text{
	//text-align: center;
    margin: 0px 15px 0px 15px;
}
.row{
	margin-left: 0;
	margin-right: 0;
}

/* a태그 공통으로 이벤트효과 없애기 */
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}


/* 메뉴리스트 a링크 */
.list_a{
	color: #333333;
	text-decoration: none;
}
.list_a:hover{
	color: #333333;
	text-decoration: none;
}
.list_a:visited{
	color: #333333;
	text-decoration: none;
}

/* 외부 css 파일 */
.et-hero-tabs{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 position: relative;
}

.et-hero-tabs h1,
.et-slide h1 {
  margin: 0;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-slide{
/* 	padding-top: 300px; */
/* 	height: 50cm; */
/* 	display: inline-flex; */
/* 	display: flex; */
/* 	flex-direction: column; */
 	justify-content: center;
	align-items: center; 
	position: relative;
}

.et-hero-tabs-container,
 {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
/*   font-size: 0.8rem; */
}

.et-hero-tab:hover {
  color: white;
  background: #696969;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #808080;
  transition: left 0.3s ease;
}