button.button{
	padding: 5px 5px 5px 5px;
    border: 0;
    font-size: 17px;
    color: #f1ebd6;
    background-color: #3a3125;
}
div.complete_msg{
	text-align: center;
}
div.totalPrice{
	float: right;
	margin-right: 10px;
}
input.center{
	text-align: center;
}
div.center_div{
	text-align: center;
}
i.icon{
	width: 20%;
    position: fixed;
    top: 75%;
    right: 10%;
    z-index: 10;
}
.menu_div{
	width: 33.3%;
	display: inline-block;
	float: left;
}

.menu_div_contents{
	padding: 20px;
}
.qna_body_title_div{
	height: 40px;
    background-color: #685845;
    margin-top: -20px;
    color: white;
    
}
.qna_title_text{
	line-height: 38px;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 25px 0 40px;
}
.hyebody{
	margin-left: -10px;
	margin-right: -10px;
}
.admin_title_div {
    line-height: 100%;
    display: block;
    padding: 12px 15px;
    background: #f1ebd6;
    color: #5f3a0e;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.025em;
    margin-top: -20px;
    margin-bottom: 20px;
}
/* css 파일 */
a{
	color: #696969;
  text-decoration: none;
}
a:hover{
	color: #696969;
	text-decoration: none;
}
a:visited{
	color: #696969;
	text-decoration: none;
}
.et-hero-tabs{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 position: relative;
}

.et-hero-tabs h1,
.et-slide h1 {
  margin: 0;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-slide{
/* 	padding-top: 300px; */
/* 	height: 50cm; */
/* 	display: inline-flex; */
/* 	display: flex; */
/* 	flex-direction: column; */
 	justify-content: center;
	align-items: center; 
	position: relative;
}

.et-hero-tabs-container,
 {
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
/*   font-size: 0.8rem; */
}

.et-hero-tab:hover {
  color: white;
  background: #696969;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #808080;
  transition: left 0.3s ease;
}