/* qna > list.jsp */

.qnatable{
	width : 100%;
	border-top : 1px solid lightgrey;
}

.tr2{
	border-bottom: 1px solid lightgrey;
}

.td_subject{
	padding : 5px 10px 0 5px;
	
}
.td_category{
	padding: 0 0 0 10px;
	width: 40px;
	border-bottom: 1px solid lightgrey;
}

.td_reply{
	text-align: center;
	width: 50px;
	background: WhiteSmoke;
	
}

.td_etc{
	padding: 0 5px 5px 5px;

	font-size : 0.7em;
	color: grey;
}

.text_reply{
	font-size: 0.7em;
	color: lightgrey;
}

.text_reply_num{
	font-size: 1em;
}

.qnatable a:link{
	color : black;
}
.qnatable a:visited{
	color : black;
}

.span_category{
	font-size : 0.7rem;
	color: lightgrey;
}


/* qna > writeform.jsp */

.form_group{
	
	background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

.inputbox{
	border: 0;
    padding: 11px 20px;
    height: 48px;
    font-size: 16px;
    width: 100%;
  
    color: black;
    vertical-align: top;
    -webkit-appearance: none;

    -webkit-box-sizing: border-box;
    border-radius: 2px;
}


.selectbox{
	
	
	border: 0;
    padding: 11px 20px;
    height: 48px;
    font-size: 16px;
    
    background: url(https://ssl.pstatic.net/static/m/cafe/mobile/sp_wm_vert_x2_20151228.png);
    background-position: 100% -2px;
    background-size: 60px 300px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 100% -51px;
    
    width: 100%;
    
    color: black;
    vertical-align: top;
    -webkit-appearance: none;

    -webkit-box-sizing: border-box;
    border-radius: 2px;
}

.textbox{
	width: 100%;
	border-bottom: 1px solid #cfd1d4;
    padding: 8px;
}

.btns_group{
	
	padding: 15px 15px 80px 15px;
	
}

.btn_cell{
	
	padding-left: 5px;
	padding-right: 5px;
	float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    
}



.btn_cell button{
	width: 100%;
}

.btn_submit{
	background-color: palegoldenrod;
	
}


/* qna content 부분을 위한.. */

.qna_content_div{
	clear: both;
    width: 100%;
    background-color: white;
}

.qna_title_div{
	position: relative;
    margin: 0 15px;
    padding: 18px 0 20px;
    border-bottom: 1px solid #ececec;
}

.qna_title{
	margin-bottom: 18px;
    font-size: 24px;
    color: #222;
    font-weight: normal;
    word-break: break-all;
}

.qna_writer_wrap{
	height: 40px;
}

.qna_writer_wrap .info{
	padding-right: 80px;
    line-height: 16px;
}
.qna_aside_layer{
	position: absolute;
    bottom: 30px;
    right: -13px;
    width: 30px;
    height: 30px;
}

.qna_aside_layer .btn_aside{
	
    width: 30px;
    height: 34px;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
}

.qna_option_layer{
	
	display: none;
	position: absolute;
    right: 11px;
    width: 180px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    z-index: 15;
}

li{
	list-style: none;
}

a{
	color: #000;
    text-decoration: none;
    cursor: pointer;
}

.qna_aside_layer>a{
	color: #999;
}

.btn_aside{
	font-size: 15pt;
}

.btn_aside_li{
	padding-top: 7px;
	display: block;
    position: relative;
    height: 39px;
    padding-left: 17px;
    line-height: 38px;
    font-size: 15px;
    color : black;
}

.qna_post_content{
	overflow: hidden;
    clear: both;
    padding: 14px 15px 50px;
    color: #111;
    line-height: 1.45;
    word-break: break-all;
    word-wrap: break-word;
    min-height: 200px;
}

.info_date{
	color: #999;
    font-size: 13px;
}

.info_readcount{
	margin-left: 5px;
    color: #999;
    font-size: 13px;
}