	#loginForm a {color: gray;}
	a:HOVER{ text-decoration: none; font-weight: bold;}
	
	#mypageForm,#loginForm,#joinForm,#EditForm,#joinagree,#m_mybookingForm, 
	#findPwForm,#findPwOkForm,#findIdForm,#findIdOkForm, .withdrawalForm{
		margin: -10px;
	}
	
	#idBtn {display: inline-block; float: left;}
	.loginMsg {margin: 5px 15px; text-align:center;}
	.dateForm {margin-bottom: 15px; padding: 0 20px;}
	.telForm {margin-top: -15px;}
	
	#joincomplete, #findPwOkForm, #findIdOkForm, .withdrawalForm{text-align: center;}
	
	#chkmsg { color: red;}
	
	.loginPlus {text-align: center; font-size: 13px; margin-bottom: 20px;}
	.loginPlus span{
		margin: 0px 15px;
		font-weight: bold;
	}
	.google_login {
		display:block;
		text-align: center; 
		width: 100%;
		height:33px;
		line-height:35px;
		font-size: 15px;
		border : 1px solid #3a3125;
		margin-top: -10px;
	}
/* 	.google_login a { display: block; }*/	
	
	#kakao_btn{border:0px; background-color: white;}
	
	#editNo {text-align: right; margin-right: 10px;}
	
	.myinfo{text-align: center; margin-top: 20px;}
	.myinfo h4{color: #685845; font-weight: bold; margin-bottom: 0px; }
	.myinfo span{font-size:0.8em; color: grey;}

 .btncenter{
	text-align: center;
}

/* submit 버튼 부분*/
#loginOk, #joinOk, #editOk, #mypageGo, #loginGo, #findPwOk, #findIdOk, #wdok,
#mybookingForm, #myorderForm{
/*  display: block; */
    width: 245px;
    height: 45px;
    line-height: 40px;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    color: #f1ebd6;
    background-color: #3a3125;
    border-radius:5px;
}

#withdrawalCancel, #withdrawalOk ,#mybookinglist ,#mybookingCancel, #myroomsCancel, #myroomslist{ 
	color:white; 
	display: inline; 
	font-size: 17px; 
	height: 40px; 
	border: 0; 
	width: 150px;
}

#withdrawalOk, #mybookingCancel, #myroomsCancel{ background-color : #3a3125;}
#withdrawalCancel, #mybookinglist, #myroomslist { background-color :#cfc6b2;}
	
	.inputbox {
    border: 0;
    padding: 11px 20px;
    height: 48px;
    font-size: 16px;
    width: 100%;
    color: black;
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    border-radius: 2px;
	}
	
	.user_id{
	border: 0;
    padding: 11px 20px;
    height: 48px;
    font-size: 16px;
    width: 100%;
    color: black;
    vertical-align: top;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    border-radius: 2px;
	}
	
	.form_group {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
	}
	
	.headTit {position: relative; height: 45px; background-color: #685845;}
	.headTit .tit{line-height: 45px; font-size: 18px; font-weight: normal; color: #ffffff; text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin: 0 25px 0 40px;}
	.headTit .btnBack{position:absolute; top: 0; left: 0;}
	.headTit .btnBack a{display: block; width: 30px; height: 35px; padding: 20px 25px; margin-top:5px; background: url(../images/mypage/left-arrow.png) no-repeat 15px 12px; background-size: auto 15px; text-indent: -9999px;}
	
	
	
	.linkBox{margin:0; padding:0; font-size:15px; line-height:160%; color:#666666;-webkit-text-size-adjust:none; }
	.linkLIst, .linkLIst li{ list-style:none; margin:15px 0px; padding:10px 5px; font-weight: lighter; font-size: 1.1em;}
	.linkLIst a{ text-decoration:none; color:#666; display: block;}
	.linkBox li{border-bottom: 1px solid #e5e5e5; padding: 5px 15px;}
	.linkLIst>li>a>i{width:22px;}
	.linkLIst>li>a>div{padding-right:0;}
	.linkLIst>li>a>div>i{font-size: 1.2em;}
	


.error {
	display: block;
	margin: 5px 30px;
	font-size: 13px;
	line-height: 14px;
	color: red
}

.error_next_box {
	display: block;
	margin: 9px 0 -2px;
	font-size: 12px;
	line-height: 14px;
	color: red
}

.terms_p2 {
	font-size: 12px;
	line-height: 15px;
	margin-top: -11px;
	padding: 0 0 27px;
	color: #8e8e8e
}

.terms_bx_list {
	margin-top: 4px;
	padding: 0 20px;
}

.terms_necessary {color:red}

.terms_bx {
	display: block;
	padding-top: 30px
}

.terms_box {
	position: relative;
	overflow: auto;
	height: 150px;
	margin-top: 8px;
	padding: 12px;
	border: 1px solid #dadada;
	background: #fffdfa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	scrollbar-base-color: #d9d9d9;
	scrollbar-arrow-color: #8e8e8e;
	scrollbar-3dlight-color: #d9d9d9;
	scrollbar-darkshadow-color: #d9d9d9;
	scrollbar-face-color: #d9d9d9;
	scrollbar-highlight-color: #d9d9d9;
	scrollbar-shadow-color: #d9d9d9;
	scrollbar-track-color: #f2f2f2;
	-webkit-overflow-scrolling: touch;
}

.terms_box .article {
	font-size: 12px;
	line-height: 16px;
	color: #666
}

.terms_chk_all{ padding: 0 20px;}

.chk {position:relative; margin:45px 0 0 20px;} 
.chk label {position:absolute; left:0; height:20px; padding:4px 0 0 25px; no-repeat;} 
.chk input[type="checkbox"]:checked + label {background-position:0 -25px;}


.input_chk {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 10px;
	
}

.input_chk input {
	position: absolute;
	top: 50%;
	left: 1px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	outline: 0
}


.input_chk label {
	position: relative;
	display: block;
	width: 100%;
	padding-left: 29px;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	cursor: pointer;
	color: #333;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.input_chk input:focus ~label{
	outline: dotted thin
}

.chk_all_txt{font-size: 16px;}


.btn_type {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#btnCancel, #btnAgree {text-decoration: none; border-radius: 5px;}
.btn_default { color:#fff; background-color: #e3dfda;}
.btn_primary { color: #fff; background-color: #3a3125; }

.btn_area {margin: 30px 0 9px}

.btn_area.double { overflow: hidden; /* margin: 29px -5px 0 */ }

.btn_area.double>span {
	display: block;
	float: left;
	width: 50%
}

.btn_area.double span:before {
	content: '';
	display: block;
	clear: both
}

.btn_area>span .btn_type {
	width: auto;
	margin: 0 5px
}

.btn_type:active, .btn_type:focus, .btn_type:hover, .btn_type:visited{
	text-decoration: none;
	color:white;
}

.btn_type+.btn_type {
	margin-top: 10px
}





/* 마이페이지 프로필 수정(사진) 부분 */
.profile_photo {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 15px
}

.btn_file label .btn2 {
    color: #333;
}
.btn_model .btn2 {
    border: 1px solid #bfbfbf;
    background: #fff;
}


.btn_model .btn1, .btn_model .btn2, .btn_model .btn3 {
/*     min-width: 52px; */
    height: 33px;
    padding: 10px;
    color: #a3a3a3;
}
.btn_model b, .btn_model>em, .btn_model>span {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    letter-spacing: -1px;
    cursor: pointer;
}


.btn_file label {
    display: inline-block;
    width: 77px;
    height: 30px;
    cursor: pointer;
}
.btn_model {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none!important;
    margin-top:60px;
    height: 35px;
    
}


input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    padding: initial;
    border: initial;
}

input[type=file] {
    display: contents;
}

.inputbox_file {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.pic{
	display: inline-flex;
}




/* 마이페이지 예약확인,취소 */  

ul,li{ list-style: none; }

.ctnMypage.ctnMypageRsv .msg {
    border-bottom: #e9e9e9 solid 1px;
    background: #f0f0f0;
    padding: 10px 15px 10px 15px;
    color: #444444;
}
.ctnMypage.ctnMypageRsv .rsvCate {
    padding: 10px 15px;
    background-color: #faf8f2;
    color: gray;
}

.ctnMypage.ctnMypageRsv .rsvInfoBox {
    margin-bottom: 13px;
    border-top: 1px solid #5f3a0e;
    border-bottom: 1px solid #b6b6b6;
    padding: 6px 0;
    background-color: #fdf8ef;
}

.dashboard_div2{
	
	padding: 0 0px 0px 10px;
}


.dashboard_div_title{
	padding-left: 5px;
}

.dashboard_div_table{
	border-radius: 10px;
	margin: 0px;
}
.order_table_div{
	margin-top: 20px;
}
.dashboard_div_table ul{
	padding : 0;
	margin : 0;
}

.dashboard_li_div{
	font-size: 11pt;
	padding: 10px 10px 10px 20px;
	border-bottom: 1px solid lightgrey;
}

.dashboard_li_div i{
	margin-right: 5px;
}


.dashboard_li_number{
	float:right;
	padding-right:20px;
	font-weight: bold;
	font-size: 15pt;
	position: relative;
	top: -5px;
}

.dashboar_li_label{
	width: 100px;
	color: royalblue;
}

.admin_body{
	margin : 0 -10px 0 -20px;
}

.dashboard_li_gun{
	font-size: 11pt;
	color: grey;
	font-weight: lighter;
	position:relative;
	top: -1px;
}

/* 관리자 컬러 */

.color1{
	color: #ddc173;
}
.color2{
	color: #91a16a;
}
.color3{
	color: #738986;
}
.color4{
	color: #8e8680;	
}
.color5{
	color: #b36154;
}
.color6{
	color: #cc9999;
}
.color7{
	color: #996666;
}
.color8{
	color: #86A3C3;
}
.color9{
	color: #bc6ca7;
}

.li_last_right{
	border-right: 0;
}

/* 예약 리스트 페이지 */

.list_hotel_local{
	color: grey;
}
.list_room_local{
	margin-left: 10px;
}
.dashboard_li_div2{
	font-size: 11pt;
	padding: 10px 10px 10px 20px;
	border-bottom: 1px solid lightgrey;
}
.booklist_div{
	
}

.list_status, .list_name, .list_id, .list_book_day{
	color: grey;
	font-weight: ;
}
.list_check_in_out{
	font-weight: lighter;
	font-size: 20pt;
}


/* 예약 내역 자세히보기 */
.admin_title_div {
    line-height: 100%;
    display: block;
    padding: 12px 15px;
    background: #f1ebd6;
    color: #5f3a0e;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.025em;
}

.bookdetail_label{
	width: 50px;
	border-right : 1px solid lightgrey;
}

.bookdetail_table{
	width: 100%;
	font-size: 
}

.bookdetail_table_tr{
	border-bottom: 1px solid lightgrey;
}
.bookdetail_table_th{
	width: 30%;
	border-right: 1px solid lightgrey;
	
}
.bookdetail_table_td{
	padding: 10px 10px 10px 20px;
}
.img-circle{ width: 30px;}




/* 마이페이지 - 내 룸서비스 내역 */
/* .tr_strong{
	border-bottom: 1px solid grey;
} */
.dashboard_div {
     padding: 0; 
/* margin-top: -20px; */
/* 	padding: 0 0px 0px 10px; */
}
.margin_top_adj{
	margin-top: -20px;
}
.dashboard_div_div{
	padding: 0 0px 0px 10px;
}

.dashboard_tr {
    border-bottom: 1px solid lightgrey;
    width: 100%;
}
.dashboard_li_div3 {
    font-size: 11pt;
    padding: 20px 20px 15px 50px;
    /* border-bottom: 1px solid lightgrey; */
}
.dashboard_table {
    width: 100%;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}






/* 장희 추가 */

/* .login_logo{
 	width: 100%;
 	
} */
